// use nib
@import 'nib'

outline
    display: inline-block;

outline.bold
    font-weight: bold;

outline.italic
    font-style: italic;

outline.code
    margin: 0;
    padding: 4px;

    background-color: rgba( 51, 51, 51, .15 );
    border-radius: 3px;

outline.time
    padding: 0 2px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;

    &.ago
        color: #f8f8f8;
        background-color: #f44336;

.outline-primary
    margin: 3px 0;
    border-right: 3px solid #D32F2F;

.outline-secondary
    margin: 3px 0;
    border-right: 3px solid #3F51B5;

.outline-normal
    margin: 3px 0;
    border-right: 3px solid #64B5F6;

outline.tag
    margin: 0 2px;
    padding: 3px 10px;

    color: #fff;
    font-weight: 500;
    border-radius: 2px;

    &.todo
    &.today
    &.yesterday
    &.tomorrow
    &.after
        text-transform: capitalize;

    &.project
        background-color: #9c27b0;
    &.release
        background-color: #03a9f4;
    &.feature
        background-color: #4caf50;
    &.bug
        background-color: #f44336;
    &.doing
        background-color: #ff9d44;
    &.done
        background-color: #d9e3e8;
    &.next
        background-color: #fdd0ae;
    &.qd
        background-color: #ff7281;
    &.pending
        background-color: #a78674;
    &.todo
        background-color: #56d1d8;
    &.yesterday
        background-color: #5D4037;
    &.today
        background-color: #795548;
    &.tomorrow
        background-color: #A1887F;
    &.after
        background-color: #BCAAA4;

.outline-img-deep
    z-index: 2;

.outline-img
    position: relative;
    padding: 0 2px;

    text-decoration: none;

    background-color: #f8f8f8;
    border: 1px solid #ddd;

    opacity: 1!important;
    cursor: pointer;

    img
        position: absolute;
        padding: 0 2px;

        left: 0;
        top: 25px;

        max-width: 300px;
        text-decoration: none;

        background-color: #f8f8f8;
        border: 1px solid #ddd;